@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --bg: #242424;
  --bg-white: #f9f9f9;
  --soft-white: #e4e4e7;
  --bg-btn: #1a1a1a;
  --blue: #646cff;
  --blue-hover: #535bf2;
  --red: #ff6464;
  --red-hover: #f25353;
  --border: #364153;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-bg: #242424;
  --color-bg-white: #f9f9f9;
  --color-bg-btn: #1a1a1a;

  --color-blue: #646cff;
  --color-blue-hover: #535bf2;

  --color-red: #ff6464;
  --color-red-hover: #f25353;

  --color-font-white: #f9f9f9;
  --color-soft-white: #e4e4e7;

  --color-border: #364153;
  --color-secondary-grey: #99a1af;
}
